


#density {
  font-size: 15px;
  font-family: Courier New;
  color: #ff4dff;
 
}
#velocity {
  font-size: 15px;
  font-family: Courier New;
  color: #ff33ff;

}
#distance {
  font-size: 15px;
  font-family: Courier New;
  color: #fflaff;
  
}
#rotation {
  font-size: 15px;
  font-family: Courier New;
  color: #ff00ff;
  
}
#revolution {
  font-size: 15px;
  font-family: Courier New;
  color: #e600e6;
  
}
