


#density {
  font-size: 15px;
  font-family: Courier New;
  color: #ff4dff;
  text-align: center;
}
#velocity {
  font-size: 15px;
  font-family: Courier New;
  color: #ff33ff;
  text-align: center;
}
#distance {
  font-size: 15px;
  font-family: Courier New;
  color: #fflaff;
  text-align: center;
}
#rotation {
  font-size: 15px;
  font-family: Courier New;
  color: #ff00ff;
  text-align: center;
}
#revolution {
  font-size: 15px;
  font-family: Courier New;
  color: #e600e6;
  text-align: center;
}
